* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.counter {
  font-size: 8rem;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons button {
  padding: 1rem 2rem;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  margin: 0 1rem;
}
